.dual-carousel-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
background: radial-gradient(circle, rgba(0, 92, 255, 0.4) 0%, transparent 50%);
  padding: 100px 0;

}

.carousel-row-custom {
  overflow: hidden;
    display: flex;
  width: 100%;
  align-items: center;
}

.video-card {
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 220px;
  height: 360px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  background: black;
 
}


.video-card video,
.video-card iframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.video-card video:hover,
.video-card iframe:hover {
  transform: scale(1.03);
}

/* Make center one horizontal */
.horizontal-card {
  width: 640px;
  height: 360px;
}
.youtube-poster {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  cursor: pointer;
}