@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'Awesome';
  src: url('/src/fonts/AwesomeSerifItalic-LightReg.otf');
  font-weight: normal;
  font-style: normal;
}



.dual-carousel-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
background: radial-gradient(circle, rgba(0, 92, 255, 0.4) 0%, transparent 50%);
  padding:  0;
}

.header {
  text-align: center;
  z-index: 1;
  position: relative;
 color: white;
  margin-top: 40px;

}

.header h2 {
  font-family: "Awesome",serif;
  font-size: 64px;
  letter-spacing: 3px;
     margin-bottom: 10px;
      font-weight: 400;
}

.header p {
   font-size: 18px;
    opacity: 0.6;
    margin-bottom: 80px;
    font-family: "inter",sans-serif;
}

.img{
  display: inline;
  position: absolute;
  right: 413px;
  transform: translateY(-30px);
}

.carousel-row-custom {
  overflow: hidden;
    display: flex;
  width: 100%;
  align-items: center;
}

.video-card {
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 220px;
  height: 360px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  background: black;
 
}


.video-card video,
.video-card iframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}
/* Hide mobile vector on desktop */
.img-mobile {
  display: none;
}

/* Only mobiles (max-width: 768px) */
@media (max-width: 768px) {
  /* Hide desktop vector */

  .img-desktop {
    display: none;
  }

  /* Show mobile vector, inline and centered below <p> */
  .img-mobile {
    display: block;
    width: 70px; /* adjust size as needed */
    margin: 8px auto 0 auto; /* center horizontally, add top margin */
    position: static; /* ensure normal flow */
  transform: translateX(35%) translateY(-5%);

  }

  /* Center the <p> text with margin bottom some space for vector */
  .header p {
    text-align: center;
    margin-bottom: 0;
  }




.bottom-row-container{
  display: none;
}



  /* Smaller text */
  .header h2 {
    font-size: 40px;
    letter-spacing: 1.5px;
  }

  /* Adjust video sizes */
  .video-card {
    width: 140px;
    height: 220px;
    margin: 0 8px;
  }

  .horizontal-card {
    width: 320px;
    height: 180px;
  }


}

.video-card video:hover,
.video-card iframe:hover {
  transform: scale(1.03);
}



.youtube-poster {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.video-thumbnail {
  border-radius: 8px;
  display: block;
  max-width: 100%;
  height: auto;
}
